# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [1]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [23]:
zomato_df = pd.read_csv("zomato.csv")
location_df = pd.read_csv("location.csv")
ratings_df = pd.read_csv("ratings.csv")
temp = pd.merge(zomato_df, location_df, on='id')
merged_df = pd.merge(temp, ratings_df, on='id')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6830 entries, 0 to 6829
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6830 non-null   int64
 1   average_cost_for_two            6830 non-null   int64
 2   book_url                        518 non-null    object
 3   cuisines                        6829 non-null   object
 4   currency                        6830 non-null   object
 5   deeplink                        6830 non-null   object
 6   events_url                      6830 non-null   object
 7   featured_image                  6248 non-null   object
 8   has_online_delivery             6830 non-null   int64
 9   has_table_booking               6830 non-null   int64
 10  include_bogo_offers             6830 non-null   bool
 11  is_book_form_web_view           6828 non-null   float64
 12  is_delivering_now               6830 non-null   int64
 13  is_table_reservation_supported  6830 non-null   int64
 14  is_zomato_book_res              6828 non-null   float64
 15  menu_url                        6830 non-null   object
 16  mezzo_provider                  6828 non-null   object
 17  name                            6830 non-null   object
 18  photos_url                      6830 non-null   object
 19  price_range                     6830 non-null   int64
 20  thumb                           6248 non-null   object
 21  url                             6830 non-null   object
 22  address                         6830 non-null   object
 23  city                            6830 non-null   object
 24  city_id                         6830 non-null   int64
 25  country_id                      6830 non-null   int64
 26  latitude                        6830 non-null   float64
 27  locality                        6830 non-null   object
 28  locality_verbose                6830 non-null   object
 29  longitude                       6830 non-null   float64
 30  zipcode                         117 non-null    float64
 31  aggregate_rating                6830 non-null   float64
 32  rating_color                    6830 non-null   object
 33  rating_text                     6830 non-null   object
 34  votes                           6830 non-null   int64
dtypes: bool(1), float64(6), int64(10), object(18)
memory usage: 1.8+ MB

In [14]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [26]:
def exercise_2(merged_df):
    return merged_df.groupby('city')['aggregate_rating'].mean()

In [27]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [35]:
merged_df["rating_numeric"] = merged_df["rating_text"].apply(lambda x : 0 if x == "Not rated" else x)

In [36]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [39]:
def exercise_4(merged_df, city):
    return merged_df.loc[merged_df.city == city]

In [40]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [43]:
def exercise_5(merged_df, cols_to_filter):
    return merged_df[cols_to_filter]

In [44]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

    Answer: Starbucks

In [47]:
name_mode = merged_df["name"].mode()
print(name_mode)

0    Starbucks
Name: name, dtype: object

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

   Answer: The Tasting Room

In [50]:
cost_max = merged_df["average_cost_for_two"].max()
resto = merged_df.loc[merged_df.average_cost_for_two == cost_max]
print(resto["name"])

1713    The Tasting Room
Name: name, dtype: object

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

   Answer: 6713

In [63]:
zip = merged_df["zipcode"].count()
print(merged_df.shape[0] - zip)

6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

   Answer: None/0

In [68]:
merged_df["has_online_delivery"].value_counts()

has_online_delivery
0    6830
Name: count, dtype: int64

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

    Answer: Salcedo Village has more expensive food on average (both mean and median)

In [87]:
price = merged_df.groupby("locality").agg({'average_cost_for_two': ['mean', 'median']})
print(price.loc['Poblacion'])
print(price.loc['Salcedo Village'])

average_cost_for_two  mean      898.214286
                      median    800.000000
Name: Poblacion, dtype: float64
average_cost_for_two  mean      989.102564
                      median    850.000000
Name: Salcedo Village, dtype: float64